
@keyframes fade-slide-out {
    0% {
        opacity: 100%;
        right: auto;
    }
    50% {
        opacity: 100%;
    }
    100% {
        opacity: 0%;
        right: 100%; 
    }
}

@keyframes fade-slide-in {
    0% {
        opacity: 0%;
        right: -100%;
    }
    50% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
        right: auto; 
    }
}

.fade-slide-in {
    animation: fade-slide-in 0.3s forwards;
}

.fade-slide-out {
    animation: fade-slide-out 0.3s forwards;
}

.toggle-button:hover {
    background-color: var(--secondary);
}

.toggle-button.active {
    background-color: var(--primary);
}

.toggle-button.active:hover {
    background-color: var(--primary-darker)
}