@import 'tailwindcss';

@theme {
  --breakpoint-xs: 385px;
  --breakpoint-ssm: 585px;
  --breakpoint-sm-md: 670px;
}


.bg-primary {
  background-color: var(--primary);
}

.bg-secondary {
  background-color: var(--secondary);
}

.bg-secondary-alt {
  background-color: var(--secondary-alt);
}

.bg-slight-white {
  background-color: var(--bg);
}

.text-primary {
  color: var(--primary);
}

.text-secondary {
  color: var(--secondary);
}

.text-primary-darker {
  color: var(--primary-darker);
}

.dm-serif-text-regular {
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: normal;
}

.text-beeg {
  font-size: 48px;
}

.text-meed {
  font-size: 36px;
}

.text-smol {
  font-size: 24px;
}

.text-supa-smol {
  font-size: 14px;
}

.text-half-smol {
  font-size: 18px;
}

@media screen and (min-width: 640px) {
  .nav-sizing {
    font-size: 36px;
  }
}

.button-bg {
  background-color: var(--secondary);
}

.button-bg:hover {
  background-color: var(--secondary-darker);
}

.button-bg-2 {
  border: 1px solid black;
  color: black;
}

.button-bg-2:hover {
  background-color: rgb(200, 200, 200);
  border: 1px solid rgb(53, 48, 48);
}

.button-bg-2.active {
  background-color: rgb(150, 175, 175);
}
.button-bg-2.active:hover {
  background-color: rgb(120, 145, 145);
}

.a-hover:hover {
  color: var(--secondary-darker)
}

.contact-us-nav {
  border: 1px solid var(--secondary);
}

.contact-us-nav:hover {
  background-color: rgba(72, 145, 67, 0.25)
}

@keyframes slide-in-left {
  from {
    left: -500px;
    display:none;
  }
  to {
    left: 0%;
    display:block;
  }
}

.slide-in {
  animation: slide-in-left 0.5s ease-out forwards;
}

@keyframes fade-out {
  from {
    opacity: 100%;
  }
  to {
    opacity: 0%;
  }
}

.fade-out {
  animation: fade-out 0.3s forwards;
}

@keyframes fade-in {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

.fade-in {
  animation: fade-in 0.3s forwards;
}



@keyframes services-flash {
  0% {
    background-color: var(--secondary);
  }
  10% {
    background-color: var(--secondary);
  }
  12% {
    background-color: var(--secondary-lighter);
  }
  100% {
    background-color: var(--secondary);
  }
}

.services-flash {
  animation: services-flash 2s forwards;
}